.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    align-items: center;
    background-color: rgb(255,246,246);
    border-radius: 20px;
    position: relative;
}

.createPostContainer>textarea{
    width: 100%;
}

.Fab{
    background-color: purple;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.Fab>svg{
    width: fit-content;
    height: 40px;
    color: white;
}

.scrollComponent{
    display: flex;
    justify-content: center;
}

.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}

.textareaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;

}

.uploadBtn{
    position: absolute;
    right: 0;
    bottom: -30%;
    background-color: plum;
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}

.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer>img{
    width: 10%;
    border-radius: 50%;
}

.singleCard_image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard_image>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.singleCard_top{
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    
}

.singleCard_top>svg{
    height: 1.4em;
    color: red;
    cursor: pointer;
}