.createPostContainer{
    display: flex;
    height: 23svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    align-items: center;
    background-color: rgb(255,246,246);
   
    position: relative;
}

.createPostContainer>textarea{
    width: 100%;
}

.uploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 30%;
}

.fileName {
  font-size: 0.8rem;
  color: #555;
  width: auto;
  border: 0.5px solid lightgray;
  border-radius: 10%;
  padding-inline: 0.4rem;
  text-align: center;
  word-break: break-word;
  background-color: white;
}


.Fab{
    background-color: #555;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.Fab>svg{
    width: fit-content;
    height: 40px;
    color: white;
}

.scrollComponent{
    display: flex;
    justify-content: center;
}
.userProfile{
    width: 4rem !important;
    height: 4rem;
    
    border-radius: 50%;
}


.textareaOfContent{
    width: 70%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;

}

.uploadBtn{
    /* position: absolute;
    bottom: 0;
    right: 0; */
   
    background-color: plum;
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
   
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width:100%;
}

.singleCard_profileContainer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
   
}

.topDiv_left>img{
    width: 10%;
    border-radius: 50%;
}

.singleCard_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.singleCard_top{
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    
}

.singleCard_top svg{
    height: 1.4em;
    color: red;
    cursor: pointer;
}

.optionsContainer{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    padding-block: 0.6rem;
   
   border-radius: 10px;
}

.singleOption_optionsContainer{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-inline: 1.5rem;
    cursor: pointer;
    justify-content: center;
}


.singleOption_optionsContainer>svg{
    height: 1.4em;
    color: #555;
    cursor: pointer;
}

.commentsSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
    height: 80vh;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: relative;
    padding: 1.4rem;
    border-radius: 10px;
   
}

.allComments{
    overflow-y: auto;
}
.commentsHeading{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.singleComment{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-inline: 1rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.6rem;
}

.commentBody{
    margin-left: 3.4rem;
}
.singleComment_profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.deleteCommentIcon svg{
    height: 1.4em;
    color: red;
    cursor: pointer;
}

.singleComment_profileContainer>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentInputContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 90%;
    padding-block: 1rem;
    background-color: white;
}

.commentInput{
    width: 80%;
    height: 40px;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline: 1rem;
    outline: none;
}
.commentBtn{
    background-color: #7c00e8;
    color: white;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
} 

.userProfileInComment{
width: 3rem !important;
    height: 4rem;
    
    border-radius: 50%;

}

.topDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.topDiv_left{
    display: flex;
    gap: 0.7rem;
}

.topDiv_left div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.topDiv_right svg{
    height: 1.4em;
    color: red;
    cursor: pointer;
    padding-right: 0.7rem;
}
.middleDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.singleCard_image>img{
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.line{
    
    display: none;
}
.commentBtn a{
        color: white;
        text-decoration: none;
    }


@media screen and (max-width:600px) {
    .singleCard_profileContainer{
        padding-right: 0;
        gap: 0.6rem;
    }
    .singleCard_image>img{
        width: 80%;
    }
    .scrollComponent{
        display: none;
    }
    .line{
        width: 100%;
    height: 0.1px;
    background-color: #999;
    display: block;
    }
    .wrapper{
        padding-bottom: 4rem;
    }
    .userProfile{
        height: 3rem;
        width: 3rem !important;
        border-radius: 50%;
    }

    .commentsContainer{
        width: 100%;
        height: 100%;
    }
    .commentsSection{
        width: 90%;
        margin-top: 0;
        height: 70%;
        padding: 0.4rem;
        padding-bottom: 3.5rem;
    }
    .singleComment{
        gap: 0.5rem;
        max-width: 100%;
    }
    .commentBody{
        font-size: 0.9rem;
        width: 100%;
        margin-left: 3rem
    }
    .singleComment_profileContainer{
        gap: 0.8rem;
    }
    .commentsHeading{
        font-size: 1.2rem;
    }
    .allComments{
        max-width: 100%;
    }
    
}