.container{
    font-family: 'Poppins';

    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.mainContainer_left{
    flex: 0.5;
}

.mainContainer_right{
    flex: 0.5;
}

.mainContainer_left>p:nth-child(1){
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}


.mainContainer_left>p:nth-child(2){
    font: size 1.9rem;;
    color: #4d4d4d;
}

.mainContainer_left > div.joinBtn{
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: white;
    background-color: #7c00e8;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}




@media screen and (max-width: 600px) {

    .container{
        padding: 0;
    }

    .mainContainer {
        flex-direction: column;
        height: auto;              
        gap: 2rem;                  
        padding-inline: 1rem;       
        border-top: 1px solid #e9e9e9;
        padding-top: 2rem;
    }

    .mainContainer_left,
    .mainContainer_right {
        flex: unset;                
        width: 100%;               
    }

    .mainContainer_left > p:nth-child(1) {
        font-size: 1.9rem;            
        text-align: center;
    }

    .mainContainer_left > p:nth-child(2) {
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1rem;
    }

    .mainContainer_left > div.joinBtn {
        margin: 1rem auto 0 auto;   
        font-size: 1rem;
    }

    .mainContainer_right img{
        width: 100%;
    }
}
