.createPostContainer{
    display: flex;
    height: 40%;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    align-items: center;
    background-color: rgb(255,246,246);
   
    position: relative;
}
.wrapper{
    height: 100vh;
}

.createPostContainer>textarea{
    width: 100%;
}

.uploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 30%;
}

.fileName {
  font-size: 0.8rem;
  color: #555;
  width: auto;
  border: 0.5px solid lightgray;
  border-radius: 10%;
  padding-inline: 0.4rem;
  text-align: center;
  word-break: break-word;
  background-color: white;
}


.Fab{
    background-color: #555;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.Fab>svg{
    width: fit-content;
    height: 40px;
    color: white;
}

.cancel>svg{
   background-color: #555;
    height: 2rem;
    color: white;
    border-radius: 50%;
}
.cancel{
    cursor: pointer;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollComponent{
    display: flex;
    justify-content: center;
}
.userProfile{
    width: 4rem ;
    height: 4rem;
    
    border-radius: 50%;
}

.charCount {
  font-size: 12px;
  color: gray;
  text-align: right;
  margin-top: 4px;
}


.textareaOfContent{
    width: 70%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
    white-space: pre-wrap;

}

.uploadBtn{
    /* position: absolute;
    bottom: 0;
    right: 0; */
   
    background-color: plum;
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
   
}
.top_left{
    display: flex;
    justify-content: flex-start;
    
    gap: 0.8rem;
    align-items: center;
}

@media screen and (max-width:600px) {
    .createPostContainer{
        flex-direction: column;
        height: 90%;
       padding-block: 1rem;
    }
   
    .top{
           flex-direction: row;
           align-items: center;
           justify-content: space-between;
           width: 100%;
    }
    .cancel>svg{
        height: 1.5rem;
    }
    .userProfile{
        width: 3rem;
        height: 3rem;
    }
}