.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background: snow;
}

.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background-color: white;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
}

.cardContainer_right{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c00e8;
    color: white;
    flex-direction: column;
    
    padding-inline: 1.2rem;
}
.cardContainer_right div{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
}
.cardContainer_right .signUpBtn{
    background-color: white;
}
.cardContainer_right .signUpBtn:hover{
    background-color: black;
}

.cardLeft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}

.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}
.inputRow{
    display: flex;
    gap: 1.2rem;
    width: fit-content;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    max-width: 400px;
    margin: 0 auto;
    gap: 1.3rem;
}

.signUpBtn{
    background: #d6d6d6;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: #111;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 100%;
}

.signUpBtn:hover{
    color: white;
    background-color: black;
}

.formError {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 6px;
}

@media screen and (max-width:600px) {
    .cardContainer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cardContainer_left,.cardContainer_right{
        flex: unset;
    }
    .cardContainer_right{
        height: 100%;
        width: 100%;
    }
    
.cardLeft_heading{
    font-weight: bold;
    font-size: 1.5rem;
}

.cardContainer_left{
    padding-inline: 0;
    width: 90%;
}
.inputField{
    padding-inline: 1rem;
   
    width: 100%;
}

.inputContainer{
    gap: 1rem;
}
}