.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background: snow;
}

.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background-color: white;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
}

.cardContainer_right{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c00e8;
    color: white;
    flex-direction: column;
    gap: 1.2rem;
    padding-inline: 1.2rem;
}

.cardLeft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}

.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}
.inputRow{
    display: flex;
    gap: 1.2rem;
    width: fit-content;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    max-width: 400px;
    margin: 0 auto;
    gap: 1.3rem;
}

.signUpBtn{
    background: #d6d6d6;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: #111;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 100%;
}

.signUpBtn:hover{
    color: white;
    background-color: black;
}