.allUserProfiles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;


}

.userCard{
    display: flex;
    flex-direction: row;
    gap : 15px;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 2rem;

    cursor: pointer;
    transition: box-shadow 0.3s ease;
    
}

.userCard:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profilePicture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.discoverHeader{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 1rem;
    padding-top: 1rem;
}
.discoverContainer{
      border-top: 0.3px solid #ccc;
        border-bottom: 0.3px solid #ccc;
}
@media screen and (max-width:600px) {
    .discoverContainer{
        width: 100%;
      
    }
    .discoverHeader p{
        display: none;
    }
    .discoverHeader{
        padding-top: 1.2rem;
        padding-left: 1rem;
        font-size: 1.3rem;
    }
    .discoverHeader::after{
        content: "Discover like-minded people";
    }

    .allUserProfiles{
        align-items: center;
        padding-bottom: 5rem;
        gap: 0.5rem;
    }
   
    .profilePicture{
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
    }

}