.homeContainer{
    display: flex;
}


.homeContainer > div:nth-child(odd){

    flex: 0.2;
}

.homeContainer > div:nth-child(even){
    flex: 0.6;
}

.home_leftBar{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
}

.sideBarOption{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 1.3rem;
    max-width: 80%;
    width: 80%;
    cursor: pointer;
    margin: 0 auto;
    transition: all 0.2s;
}

.sideBarOption:hover{
    transform: scale(1.02);
}

.sideBarOption > svg{
    height: 1.4em;
    min-width: fit-content;
}
/* 
.home_feedContainer{

} */