.homeContainer{
    display: flex;
    width: 100%;
}



.home_leftBar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    border-right: 1px solid #ccc;
    position: sticky;
    top: 0;
    flex: 1;
}

.sideBarOption{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.2rem;
    
    width: 100%;
    cursor: pointer;
    margin: 0 ;
   
     padding: 0.6rem;
     
}

.sideBarOption:hover{
  font-size: 1.21em;
}

.sideBarOption > svg{
    height: 1.4em;
    min-width: fit-content;
   
}

.home_feedContainer{
   
    position: sticky;
    top: 0;
   
    flex: 3;
    }   


.home_extraContainer{
    border-left: 1px solid #ccc;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-left: 1.2rem;
    flex: 1;
    }


    
.mobileNavbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
   
    display: none;
    justify-content: space-around;
    background-color: white;
    align-items: center;

}



@media screen and (max-width:600px) {
    .mobileNavbar{
        display: flex;
    gap: 0.2rem;
    border-top: 0.1rem solid #ccc;
    padding-block: 1.6rem;
    }
    .mobileNavbar .sideBarOption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        padding: 0.2rem;
    }
    
    .mobileNavbar .sideBarOption p{
        font-size: 0.7rem;
    }
    .home_leftBar{
        display: none;
    }
    .home_extraContainer{
        display: none;
    }
    .home_feedContainer{
        width: 100%;
        padding-inline: 0;
        flex: unset;
        align-items: center;
        display: flex;
    }
    .homeContainer{
        width: 100%;
        
    }
}